@import url('https://fonts.googleapis.com/css?family=Oswald:700|Source%20Serif%20Pro:400');

* {
  box-sizing: border-box;
}

/* light theme */
html,
html[data-theme="light"] {
  color-scheme: light;
  --text: #1f1f1f;
  --background: #EFF3FF;
  --primary: #4a638c;
  --secondary: #97adc3;
  --accent: #6457a2;
}

/* dark theme */
html[data-theme="dark"] {
  color-scheme: dark;
  --text: #e0e0e0;
  --background: #090e1b;
  --primary: #738cb5;
  --secondary: #3c5268;
  --accent: #695da8;
}

/* Dark theme (system preference) */
@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    color-scheme: dark;
    --text: #e0e0e0;
    --background: #090e1b;
    --primary: #738cb5;
    --secondary: #3c5268;
    --accent: #695da8;
  }
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  margin:0 auto;
  color: var(--text);
  background-color: var(--background);
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald';
  font-weight: 700;
  color: var(--text);
  background-color: var(--background);
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.521rem; /* 72.32px */}

h2 {font-size: 3.197rem; /* 51.2px */}

h3 {font-size: 2.261rem; /* 36.16px */}

h4 {font-size: 1.599rem; /* 25.6px */}

h5 {font-size: 1.131rem; /* 18.08px */}

small {font-size: 0.566rem; /* 9.12px */}